_*/
!src/ZYC.Framework.CLI/Template/Projects/*/__PROJECT_NAME__/
!src/ZYC.Framework.CLI/Template/Projects/*/__PROJECT_NAME__/**
!src/ZYC.Framework.CLI/Template/Projects/build/__PROJECT_NAME__.Build/
!src/ZYC.Framework.CLI/Template/Projects/build/__PROJECT_NAME__.Build/**
.claude/