@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using ZYC.Framework.Abstractions
@using ZYC.Framework.Abstractions.Notification.Toast

@inject AuthenticationStateProvider AuthStateProvider
@inject IToastManager ToastManager


@code {

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        _user = authState.User;
    }

    private ClaimsPrincipal? _user;

    private void OnButtonClick()
    {
        ToastManager.PromptMessage(
            new ToastMessage("Hello World",
                Base64IconResources.Blazor));
    }

}

<PageTitle>Home</PageTitle>

<h1>Hello @_user?.Identity?.Name</h1>

Welcome to your new app.


<div>
    <button class="btn btn-primary" @onclick="OnButtonClick">Show WPF Toast</button>
</div>