*.user
*.nupkg
*.exe
*.dll
*.pdb
*.deps.json
*.binlog

_temp.sln

_bin/
_bin_*/
bin/

obj/
.vs/
temp/

logs/

ZYC.Framework.Alpha/


ZYC.Framework.Modules.AAA/
ZYC.Framework.Modules.AAA.Abstractions/


db/

zyc.txt

version.props
